Available commands:

<ul>
{{#each commands}}
    <li>
        <form action="command/{{name}}" method="post">
            <input type="submit" value="{{name}}">
            <small>{{this.description}}</small>

            {{#each args}}
                <input type="text" name="{{this}}" placeholder="{{../name}}">
            {{/each}}
        </form>
    </li>
{{/each}}
</ul>
